body {
  margin-top: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}



/* ===== Barra de Navegación ===== */

nav.navbar {
  background-color: rgb(26, 117, 188); 
  
}

nav.navbar ul.nav li {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
 
  
}



nav ul {
  align-items: center;
  color: rgb(240, 248, 255);
  display: flex;
  font-size: 1.5625rem;
  gap: 6.25rem;
  list-style-type: none;
}

.carousel{
  margin-top: 4.0625rem;
}

.carousel-inner img {
  width: 100%;
  max-height: 35rem;
}

.carousel-inner {
  height: 25rem;
}



/* ===== Tarjetas Marketing ===== */

.cards{
  display: grid;
  margin: 0 .3125rem 0 .3125rem;
}


.card{
  display: flex;
  margin: .3125rem;
  border: .0625rem solid black;
  flex-direction: column;
  align-items: center;
  
}

.card .content{
  flex-grow: 1;
  flex-shrink: 1;
  padding: .625rem;
}

.mision{
  background-color: rgb(221, 255, 228);
  border-radius: 0 0 .3125rem .3125rem;
}
.vision{
  background-color: rgb(204, 175, 232);
  border-radius: 0 0 .3125rem .3125rem;
}
.valores{
  background-color: rgb(159, 243, 248);
  border-radius: 0 0 .3125rem .3125rem;
}
.card img{

  width: 8.75rem;
  height: 8.75rem;
  border-radius: 9.375rem;
}

.card h1{
  text-align: center;
}

.card p{
  text-align: justify;
  margin: 10px;
}









/* ===== Quienes Somos ===== */
.somos{
  background-color: rgb(214, 214, 214);
}

.somos h2{
  padding: 1.5625rem 0 0 .9375rem;
}
.somos p{
  margin: .625rem .3125rem;
  padding: .625rem;
  text-align: justify;
}


/* ===== Descripción de los profesionales ===== */


.profesionales{
  /* display: grid; */
  margin: 0 .3125rem 0 .3125rem;
}

.odos{
  display: flex;
  margin: .125rem;
  flex-direction: row;
  align-items: center;
  border: #404040 solid .0625rem;
  text-align: justify;
  padding: .625rem;
  background-color:  rgb(189, 189, 189);
  color: #000000;

/* rgb(26, 117, 188) */
}



.odos .rama{
  
    flex-grow: 1;
    flex-shrink: 1;
    padding: .625rem;
  }


  .odos img{

    border-radius: .625rem;
    width: 7.5rem;
    align-items:flex-start;
    box-shadow: .1875rem .1875rem .3125rem rgba(0, 0, 0, 0.5);
    border: .125rem solid rgb(169, 167, 167);

  }

  .odos h5{
    margin: .9375rem;
  }





/* ===== FORMULARIO DE CONTACTO ===== */
  
.seccionContacto {
  background-color:  rgb(26, 117, 188);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;

}


.container {
  width: 80%;
  padding: 1.25rem;
}

.container h2 {
  width: 100%;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: .625rem;
}

.container .row100 {
  position: relative;
  width: 100%; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}


@media only screen and (min-width: 600px) {
  /* Estilos para tablets en orientación horizontal */
  .container .row100{
  position: relative;
  width: 100%; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  }

}

@media only screen and (max-width: 600px) {
  /* Estilos para tablets en orientación horizontal */
  .container .row100{
  position: relative;
  width: 100%; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  }

  .mapa{
    width: 100%;

  }



  .carousel-inner{
    height: auto;
  }


  .odos{
    flex-direction: column;
  }

}









.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 .625rem;
  margin: 1.875rem 0 .625rem;
  transition: 0.5s;
}

.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 2.5rem;
  /* color: #45f3ff; */

  color: rgb(255, 251, 251);
}

.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 1.125rem;
  padding: 0 .625rem;
  z-index: 1;
  color: #000;
}

.container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 2.5rem;
  font-size: 1.125rem;
  padding: 0 .625rem;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -2.1875rem;
  left: -0.625rem;
}

.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: .125rem;
  transition: 0.5s;
  border-radius: .125rem;
  pointer-events: none;
  background: rgb(198, 198, 198);
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .inputBox .textarea {
  position: relative;
  width: 100%;
  height: 6.25rem;
  padding: .625rem 0;
}

.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -2.1875rem;
  left: -0.625rem;
}

.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: .4375rem 2.1875rem;
  cursor: pointer;
  outline: none;
  color: #000;
  font-size: 1.125rem;
  border-radius: .125rem;
  background: rgb(198, 198, 198);

}

input[type="submit"]:active {
  opacity: 0.8;
}

input[type="submit"]:hover{
  color: rgb(250, 255, 255);
  background-color: rgb(116, 116, 116);
  transition: 0.4s ease-in-out;
  border: #000 .0625rem solid;
}




/* ===== Slider ===== */

.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(
    12.5rem * 14
  ); /*tamaño de la imagen por cantidad de imágenes en el html*/
}

.slider .slide {
  width: 12.5rem;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}




/*===== RESPONSIVE =====*/
@media (min-width: 48rem) {
  #carrusel {
     display: block;
  }


  .cards {
    grid-template-columns: repeat(3, 1fr);
 }


  #tratamientos {
     grid-template-columns: repeat(3, 1fr);
     gap: .625rem
  }

  #tratamientos .destacada {
     grid-column: 1 / 3;
     grid-row: 1 / 3;
  }

  #tratamientos a:nth-child(7) {
     display: none
  }

  #contacto {

     flex-wrap: nowrap;
     gap: .625rem;

  }

     #contacto .fila-interna {
        gap: .625rem;
     }
  #contacto .fila-interna div {
     width: 50%;
  
  }

  #contacto .izq {
     width: 30%;
  }

  #contacto .der {
     width: 70%;
  }



}

@media (min-width: 75rem) {
  #tratamientos {
     grid-template-columns: repeat(5, 1fr);
  }

  #tratamientos a:nth-child(7) {
     display: block
  }

  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }


}





/* ===== Redes Sociales ===== */
.redes {
  align-items: center;
  background-color: rgb(181, 181, 181);
  color: #000000;
  justify-content: center;
  flex-flow: row wrap;
  padding: .9375rem;
}
.redes h2 {
  text-align: center;
}

.redes .list-group {
  display: flex;
  flex-wrap: wrap;
}

.redes a {
  color: rgb(26, 117, 188);
}

.list-group {
  align-items: center;
  gap: 5rem;
  justify-content: center;
}

.list-group-item {
  color: rgb(43, 43, 43);
}

.fa-square-instagram:hover {
  background-image: url("imagenes/instagram.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: .0938rem;
  color: transparent;
  transform: scale(2.5);
  transition: 0.4s ease-in-out;
}

.fa-facebook:hover {
  background-image: url("/imagenes/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: .0938rem;
  color: transparent;
  transform: scale(2.5);
  transition: 0.4s ease-in-out;
}

.fa-twitter:hover {
  background-image: url("/imagenes/twitter.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: .0938rem;
  color: transparent;
  transform: scale(2.5);
  transition: 0.4s ease-in-out;
}

.fa-whatsapp:hover {
  background-image: url("imagenes/WhatsApp.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: .0938rem;
  color: transparent;
  transform: scale(2.5);
  transition: 0.4s ease-in-out;
}

/* ===== Quitamos margen y fondo a los íconos de las redes sociales ===== */
.redes li {
  --bs-list-group-bg: transparent;
  --bs-list-group-border-color: none;
}

li {
  list-style-type: none; /*quita los puntos de la lista */
  margin-left: -3%;
}

/* ===== SECCION FOOTER ===== */

.footer {
  display: flex;
  background: #404040;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  display: flex;
  color: #fff;
  text-align: center;
}

footer li {
  display: flex;
  justify-content: center;
  align-content: center;
}
.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: #45f3ff;

}

/* ===== SCROLL ===== */
::-webkit-scrollbar {
  width: .9375rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(181, 181, 181);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(26, 117, 188);
}
