body {
  background-color: #e0e0e0;
  margin: 0;
  padding:0;
}

/* ===== Barra de Navegación =====*/

nav.navbar {
  background-color: rgb(26, 117, 188);
}

nav.navbar ul.nav li {
  font-family: "Roboto", Helvetica, Arial, sans-serif;  
}

nav ul {
  align-items: center;
  color: rgb(240, 248, 255);
  display: flex;
  font-size: 1.5625rem;
  gap: 6.25rem;
  list-style-type: none;
}


 p{
    margin: 1.25rem;
    /* letter-spacing: 1.2px; */
}

.carro {
    margin-top: 5rem;
    width: 3.125rem; 
    height: 3.125rem;
    animation: moverCarro 15s linear infinite;
  }
  
  @keyframes moverCarro {
    0% {
      transform: translateX(0); /* El carrito comienza desde la izquierda */
    }
    100% {
      transform: translateX(calc(100vw - 3.125rem)); /* El carrito se traslada hasta el final de la pantalla */
    }
  }



.contenedor{
    max-width: 75rem;
    padding: .625rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
    gap:1.875rem;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 15.625rem;
    margin: auto;
    border: .0625rem solid #666;
    border-radius: .625rem;
    padding: 1.25rem;
    transition: .3s;
    background-color: #f7f5f5;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 .625rem #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.375rem;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: .625rem auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: .3125rem .9375rem;
    border-radius: .3125rem;
    cursor: pointer;
}

/* ===== SECCION FOOTER ===== */

.footer {
    align-items: center;
    background: #404040;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .625rem;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  
  footer li {
    display: flex;
    justify-content: center;
    padding-right: 2rem;
  }
  
  .item a {
    color: #fff;
    text-decoration: none;
  }
  
  .item a:hover {
    color: #45f3ff;
  }
  
  /* ===== SCROLL ===== */
  ::-webkit-scrollbar {
    width: 0.9375rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(181, 181, 181);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(26, 117, 188);
  }




/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }

  }

  @media screen and (max-width: 350px) {
    .carro {
      margin-top: 115px;

  }
  }

  @media screen and (max-width: 480px) {
    p {
    text-align: justify;

  }
  }