body {
  margin-top: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}


/* ===== Barra de Navegación =====*/

nav.navbar {
  background-color: rgb(26, 117, 188);
}

nav.navbar ul.nav li {
  font-family: "Roboto", Helvetica, Arial, sans-serif;  
}

nav ul {
  align-items: center;
  color: rgb(240, 248, 255);
  display: flex;
  font-size: 25px;
  gap: 100px;
  list-style-type: none;
}

/* ===== Cuerpo de la página ===== */

img {
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
}




  /* ===== Redes Sociales ===== */
.redes {
    align-items: center;
    background-color: rgb(181, 181, 181);
    color: #000000;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 1.5em;
  }
  .redes h2 {
    text-align: center;
  }
  
  .redes .list-group {
    display: flex;
    flex-wrap: wrap;
  }
  
  .redes a {
    color: rgb(26, 117, 188);
  }
  
  .list-group {
    align-items: center;
    gap: 80px;
    justify-content: center;
  }
  
  .list-group-item {
    color: rgb(43, 43, 43);
  }
  
  .fa-square-instagram:hover {
    background-image: url("imagenes/instagram.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1.5px;
    color: transparent;
    transform: scale(2.5);
    transition: 0.4s ease-in-out;
  }
  
  .fa-facebook:hover {
    background-image: url("/imagenes/facebook.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1.5px;
    color: transparent;
    transform: scale(2.5);
    transition: 0.4s ease-in-out;
  }
  
  .fa-twitter:hover {
    background-image: url("/imagenes/twitter.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1.5px;
    color: transparent;
    transform: scale(2.5);
    transition: 0.4s ease-in-out;
  }
  
  .fa-whatsapp:hover {
    background-image: url("imagenes/WhatsApp.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1.5px;
    color: transparent;
    transform: scale(2.5);
    transition: 0.4s ease-in-out;
  }
  
  /* ===== Quitamos margen y fondo a los íconos de las redes sociales ===== */
  .redes li {
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: none;
  }
  
  li {
    list-style-type: none; 
    margin-left: -3%;
  }
  
  /* ===== SECCION FOOTER ===== */
  
  .footer {
    align-items: center;
    background: #404040;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  
  footer li {
    display: flex;
    justify-content: center;
    padding-right: 2rem;
  }
  
  .item a {
    color: #fff;
    text-decoration: none;
  }
  
  .item a:hover {
    color: #45f3ff;
  }
  
  /* ===== SCROLL ===== */
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(181, 181, 181);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(26, 117, 188);
  }